<app-menuempresa></app-menuempresa>
<div class="row justify-content-md-center bg-dark" id="content">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <ng-container>
            <h2 class="text-center text-light">Alumnos Inscritos </h2>
            <table class="table table-sm table-bordered table-striped text-ligh m-3">
                <thead class="table-dark">
                    <tr class="text-center">
                        <th>
                            <button type="button" class="btn bntn-lg btn-danger m-1 fas fa-edit" data-toggle="modal" data-target="#inscribir">Inscribir alumno</button>
                            <div class="modal fade" id="inscribir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Incripción de alumno</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>

                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form [formGroup]="frmAlumCreator" class="m-2" (ngSubmit)="Inscripcion()">
                                                <div class="form-group row">
                                                    <p class= "text-dark">Ingrese el correo electrónico del alumno a registrar. El correo electrónico del alumno debe corresponder al registrado en www.cityfitnessworld.com
                                                    </p>
                                                </div>

                                                <div class="form-group row">
                                                    <input type="text" class="form-control" formControlName="correo" placeholder="Correo Electrónico"/>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="exampleInputEmail1" class="form-label col-sm-4 text-dark">Cantidad
                                                        de meses</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" id="meses" formControlName="meses">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                            <option value="10">10</option>
                                                            <option value="11">11</option>
                                                            <option value="12">12</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <button type="submit" *ngIf="frmAlumCreator.valid" class="btn btn-danger btn-block">Inscribir</button>
                                                </div>

                                                <div class="alert" *ngIf="sucess" role="alert">
                                                    <h3 class="text-center text-danger"> {{ mensaje }} </h3>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th>

                        <th class="text-light">Nombre</th>
                        <th class="text-light">Email</th>

                        <th class="text-light">Fecha Inscripción</th>
                        <th class="text-light">Fecha Fin</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center border" *ngFor="let alum of alumnos">
                        <td>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#ampliarsub" [attr.data-target]="'#ampliarsub'+alum.id">
                                Ampliar subscripción
                            </button>

                            <button type="button" class="btn bntn-lg btn-danger m-1 fas fa-edit" (click)="eliminarSubscripcion(alum.id_reg,alum.alumno,alum.aliado)">Eliminar alumno</button>

                        </td>
                        <td class="text-light">{{alum.nombres}} {{alum.apellidos}}</td>
                        <td class="text-light">{{ alum.email }}</td>
                        <!--<td class="text-light"><img src="{{ banderaalumno(alum.pais) }}" class="avatar"> </td>-->
                        <td class="text-light">{{ alum.fecha_inicio }}</td>
                        <td class="text-light">{{ alum.fecha_fin }}</td>

                        <div class="modal fade" id="ampliarsub{{alum.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-danger" id="exampleModalLabel">Ampliar subscripción de {{ alum.nombres}} {{ alum.apellidos }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group row">
                                            <label for="exampleInputEmail1" class="form-label col-sm-4 text-center">Cantidad
                                                de meses</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" id="meses" [(ngModel)]='meses'>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger btn-lg btn-block" data-dismiss="modal" (click)="ampliarSubsripcion(alum.id, meses, alum.fecha_fin)">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>


                </tbody>
                <app-paginacion *ngIf="alumnos.length > 0" [nPaginas]="cantPaginas" (irPagina)="sigPag($event)"></app-paginacion>
            </table>

        </ng-container>
    </div>
</div>

