<app-header></app-header>
<div class="container-fluid bg-dark d-inline-block h-100" style="padding-top:130px;">
    <div class="row justify-content-md-center hero-section">
        <div class="col-lg-8">
            <h4 style="text-align:left" class="text-light">
                Respuesta de la Transacción </h4>
            <hr class="border-success">

            <div *ngIf="transactionResponse" class="table-responsive ">
                <table class="table table-bordered text-light">
                    <tbody>
                        <tr>
                            <td>Referencia </td>
                            <td id="referencia">{{transactionResponse.x_ref_payco}}</td>
                        </tr>
                        <tr>
                            <td class="bold"> Fecha </td>
                            <td id="fecha">{{transactionResponse.x_fecha_transaccion}}</td>
                        </tr>
                        <tr>
                            <td> Respuesta </td>
                            <td id="respuesta">{{transactionResponse.x_transaction_state}}</td>
                        </tr>
                        <tr>
                            <td> Motivo </td>
                            <td id="motivo">{{transactionResponse.x_response_reason_text}}</td>
                        </tr>
                        <tr>
                            <td class="bold"> Banco </td>
                            <td id=" banco">{{transactionResponse.x_bank_name}}</td>
                        </tr>
                        <tr>
                            <td class="bold"> Recibo </td>
                            <td id="recibo">{{transactionResponse.x_transaction_id}} </td>
                        </tr>
                        <tr>
                            <td class="bold"> Total </td>
                            <td id="total">{{transactionResponse.x_amount_ok}}</td>
                        </tr>
                    </tbody>
                </table>
                <a type="button" class="btn btn-info m-2" routerLink="/cursos-disponibles">Ver más cursos</a>
            </div>
            <footer>
                <div class="row bg-light">
                    <div class="container">
                        <div class="col-lg-8 col-lg-offset-2">
                            <img src="https://369969691f476073508a-60bf0867add971908d4f26a64519c2aa.ssl.cf5.rackcdn.com/btns/epayco/pagos_procesados_por_epayco_260px.png"
                                style="margin-top:10px; float:left">
                            <img src="https://369969691f476073508a-60bf0867add971908d4f26a64519c2aa.ssl.cf5.rackcdn.com/btns/epayco/credibancologo.jpg"
                                height="40px" style="margin-top:10px; float:right">
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>