<app-menu *ngIf="perfilF!=6 && !this.mailY"></app-menu>
<nav *ngIf=" perfilF==6" class="navbar navbar-expand-lg navbar-light bg-light">
  <i class="fas fa-user fa-2x text-danger"></i> <h4>{{nomsocio}}</h4>
  <a class="nav-link"[routerLink]="['/websociosempresas/']"><h3 class="text-danger">Inicio</h3></a>
</nav>

<div id="content">
<div class="container">
    <div class="row">
        <div class="col text-center" id="contenedor">
            <h1 *ngIf="perfilF==1 or perfilF==2"  class="text-center text-danger neon">Nuevo Usuario</h1>
            <h1 *ngIf="perfilF==3"  class="text-center text-danger neon">Nuevo usuario de ventas</h1>
            <h1 *ngIf="perfilF==4"  class="text-center text-danger neon">Nuevo aliado</h1>
            <h1 *ngIf="perfilF==5"  class="text-center text-danger neon">Nueva Horario</h1>
            <h1 *ngIf="perfilF==6"  class="text-center text-danger neon">Nueva Instructor empresa</h1>
            <form [formGroup]="frmUsuario" (ngSubmit)="crearUsuario(perfilF)">
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="" class="form-label text-danger col-2">Nombres</label>
                        <div class="col-10">
                            <input type="text" class="form-control" formControlName="nombre">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="form-label text-danger col-2">Apellidos</label>
                        <div class="col-10">
                            <input type="text" class="form-control" formControlName="apellidos">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="form-label text-danger col-2">Descripción profesional</label>
                        <div class="col-10">
                            <textarea name="" id="" cols="20" rows="5" class="form-control" formControlName="descripcion"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="form-label col-2 text-danger">Email</label>
                        <div class="col-10">
                            <input type="email" class="form-control" formControlName="email" *ngIf=" !this.mailY">
                            <input type="email" class="form-control" formControlName="email" *ngIf="this.perfilF == 4 && this.mailY" [readonly]="true" >

                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="form-label col-2 text-danger">Telefono</label>
                        <div class="col-10">
                            <input type="telefono" class="form-control" formControlName="telefono">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputEmail1" class="form-label col-2 text-danger">Facebook</label>
                        <div class="col-10">
                            <input type="text" class="form-control" formControlName="facebook" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail1" class="form-label col-2 text-danger">Instagram</label>
                        <div class="col-10">
                            <input type="text" class="form-control" formControlName="instagram" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputEmail1" class="form-label col-2 text-danger">Pais</label>
                        <div class="col-8">
                            <select class="form-control " formControlName="pais" (change)="cambioPais()">
                                <option *ngFor="let item of paisesList" [ngValue]="item.iso">{{ item.nombre }}
                        </option>
                    </select>
                        </div>
                        <div class="col-2">
                            <img *ngIf="imgCountry" [src]="imgCountry" class="avatar" />
                        </div>
                    </div>

                    <div class="form-group row" *ngIf="perfilF!=6 && perfilF!=4">
                        <label for="" class="form-label col-2 text-danger">Perfil</label>
                        <div class="col-10">
                            <select target="_blank" class="form-control " [(ngModel)]="perfilF" formControlName="perfil" >
                        <option value="1"> Administrativo </option>
                        <option value="3">  Ventas</option>
                        <option value="4"> Instructores </option>
                        <option value="5"> Curso </option>
                    </select>
                        </div>
                    </div>

                    <div class="form-group row" *ngIf="perfilF==4 || perfilF==6 " >
                      <label for="" class="form-label col-2 text-danger">Perfil</label>
                      <div class="col-10">
                          <select class="form-control " [(ngModel)]="perfilF" formControlName="perfil">
                      <option value="4" selected> Instructores </option>

                  </select>
                      </div>
                  </div>

                    <div *ngIf="perfilF == 4 	|| perfilF == 5">

                        <div class="form-group row">
                            <label for="" class="form-label col-2 text-danger">Link pago mes</label>
                            <div class="col-10">
                                <input type="text" class="form-control" formControlName="link_mes">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="form-label col-2 text-danger">Link pago trimestre</label>
                            <div class="col-10">
                                <input type="text" class="form-control" formControlName="link_trimestre">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="form-label col-2 text-danger">Link pago semestre</label>
                            <div class="col-10">
                                <input type="text" class="form-control" formControlName="link_semestre">
                            </div>
                        </div>
                    </div>

                    <div *ngIf="perfilF == 3">
                        <div class="form-group row">
                            <label for="" class="form-label col-2 text-danger">Api Key</label>
                            <div class="col-10">
                                <input type="text" class="form-control" formControlName="apikey">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="form-label col-2 text-danger">Merchant Id</label>
                            <div class="col-10">
                                <input type="text" class="form-control" formControlName="merchantid">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="form-label col-2 text-danger">Foto o Logo</label>
                        <div class="col-10">
                            <input type="file" class="custom-file-input" (change)="agregarArchivo($event,1)" name="emp_foto1" aria-describedby="inputGroupFileAddon01" formControlName="logo" />
                            <label class="custom-file-label" for="inputGroupFile01">{{ nameImg }}</label>
                        </div>
                    </div>


                    <div class="form-group row">
                      <label for="exampleInputEmail1" class="form-label col-2 text-danger">Video Bienvenida(Opcional)</label>
                      <div class="col-10">
                          <input type="text" class="form-control" formControlName="videoB" />
                      </div>
                  </div>


                    <div class="form-group row">
                        <label for="" class="form-label col-2 text-danger">Contraseña</label>
                        <div class="col-10">
                            <input type="password" class="form-control" formControlName="contras">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="form-label col-2 text-danger">Verificar Contraseña</label>
                        <div class="col-10">
                            <input type="password" class="form-control" formControlName="vericontras">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputEmail1" class="form-label col-2 text-danger">Estado</label>
                        <div class="col-10">
                            <select class="form-control" formControlName="estado">
                                <option value="1" selected="selected">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                    </div>


                </div>

                <div class="modal-footer">
                    <button type="submit" *ngIf="frmUsuario.valid" class="btn btn-danger btn-block">Guardar</button>
                </div>
            </form>
            <div *ngIf="flagGuardado" class="alert alert-info" role="alert">
                {{mensaje}}
            </div>
        </div>
    </div>
</div>
</div>
