<app-header></app-header>
<div class="container-fluid d-inline-block" style="padding-top:120px;">
    <div class="form-row align-items-center">
    <div class="col-auto">
        <input type="text" name="namesearch" class="form-control form-control-lg text-center" [(ngModel)]="filts.nameSearch" placeholder="buscar entrenador">
    </div>
     <!--
    <div class="col-auto">
    
        <select class="form-control form-control-lg" [(ngModel)]="filts.paisSearch" required name="paissearch">
            <option value="">Seleccione ---</option>
            <option *ngFor="let pais of this.paises">{{ pais.nombre }}</option>
        </select>
         
    </div>
    -->
    <div class="col-auto">
        <button type="submit" (click)="buscarInstructor()" class="btn btn-info btn-lg">Buscar</button>
    </div>
</div>

   
</div>

<div id="content">
    <div *ngFor="let ali of aliados" class="jumbotron jumbotron-fluid p-1 bg-transparent">
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 m-4">
                    <img src="{{ pathImg + ali.usu_logo }}" *ngIf="ali.usu_logo" class="d-block w-100 y-50" />
                </div>
                <div class="col-sm-8">
                    <h1 class="display-4 text-info">{{ ali.usu_nombres +' '+ali.usu_apellidos }}</h1>
                    <h3 class="display-5 text-secondary"><img src="{{ banderaPais(ali.usu_pais) }}" class="avatar">{{nombrePais}}</h3>

                    <!-- <h3 class="display-5 text-white"><img src="{{ banderaInstructor(ali.usu_pais ) }}" class="avatar"> - {{ ali.usu_pais | getNameContry}}</h3> -->
                    <div class="card-dark text-light">
                        <div class="card-body">

                            <blockquote class="blockquote mb-12">
                                <footer class="footer">
                                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                        <div class="btn-group mx-2" role="group">
                                            <a href="{{ali.usu_instagram}}" target="_blank">
                                                <i class="fab fa-instagram fa-lg"></i>
                                            </a>
                                        </div>
                                        <div class="btn-group mx-2" role="group">
                                            <a href="{{ali.usu_facebook}}" target="_blank">
                                                <i class="fab fa-facebook fa-lg"></i>
                                            </a>
                                        </div>
                                        <div class="btn-group mx-2" role="group">
                                            <a href="https://wa.me/{{ ali.usu_telefono }}?text=Comunicate%20con%20nosotros" class="text-success" target="_blank">
                                                <i class="fab fa-whatsapp fa-lg"></i>
                                            </a>
                                        </div>
                                    </div>
                                </footer>
                                <br>

                                <button type="button" class="btn btn-outline-warning ml-1" [routerLink]="['/aliados/FanPag/' + ali.usu_id]"><i class="fas fa-pager"></i> Pagina personal</button>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<app-paginacion *ngIf="aliados.length > 0" [nPaginas]="paginas" (irPagina)="sigPag($event)"></app-paginacion>