<app-header></app-header>
<div class="cont-admin">
    <div class="form-admin">
        <h1 class="text-center m-2 text-danger">RESTABLECER CONTRASEÑA?</h1>
        <form [formGroup]="frmLg" (ngSubmit)="resset_contra()">

            <div class="form-group">
                <label for="pass" class="text-danger">Nueva Contraseña</label>
                <input type="password" class="form-control" formControlName="password" placeholder="********" passw>
            </div>
            <div class="form-group">
                <label for="veripass" class="text-danger">Verificar Contraseña</label>
                <input type="password" class="form-control" formControlName="verifiPass" placeholder="********" verPass>
            </div>
            <button type="submit" class="btn btn-warning btn-lg btn-block mb-2" *ngIf="this.frmLg.valid">Recuperar</button>
        </form>
        <div class="alert alert-dark text-danger" *ngIf="statusmsj" role="alert">
            {{ mensaje }}
        </div>

    </div>
</div>