@media (min-width:768px) {
    .cont-admin {
        background-image: url('../../../assets/img/heroSlider/city.png');
        background-position: absolute;
        width: 100%;
        height: 100%;
        padding-right: 30%;
        padding-left: 30%;
        padding-top: 14%;
    }
    .form-admin {
        padding-right: 5%;
        padding-left: 5%;
        border-style: solid;
    }
    .padmin {
        font-size: 34px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
        color: aliceblue;
        padding-bottom: 0px;
    }
}

@media (max-width:768px) {
    .cont-admin {
        background-image: url('../../../assets/img/heroSlider/city.png');
        background-position: center;
        width: 100%;
        height: 100%;
    }
    .form-admin {
        padding-top: 50%;
        margin-left: 8%;
        margin-right: 8%;
    }
}