<app-menu></app-menu>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="card mt-2">
                <h2 class="card-header text-light">Editar cliente</h2>
                <div class="card-body">
                    <div class="fa-3x text-center" *ngIf="!cliente.emp_nit">
                        <i class="fas fa-spinner fa-pulse"></i>
                    </div>
                    <form [formGroup]="frmCli" *ngIf="cliente.emp_nit" (ngSubmit)="guardarCliente()">
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Nit</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" formControlName="emp_nit" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Nombre</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" formControlName="emp_nombre"></div>
                        </div>
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Telefono</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" formControlName="emp_telefono"></div>
                        </div>
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Correo electrónico</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" formControlName="emp_email"></div>
                        </div>

                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Facebook</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" formControlName="emp_facebook"></div>
                        </div>

                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Instagram</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" formControlName="emp_instagram"></div>
                        </div>

                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Descripción</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" formControlName="emp_descripcion"></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="exampleInputEmail1" class="form-label col-2 text-danger">Pais</label>
                            <div class="col-8">
                                <select class="form-control " formControlName="emp_pais" (change)="cambioPais()">
                                <option *ngFor="let item of paisesList" [ngValue]="item.iso">{{ item.nombre }}
                            </option>
                        </select>
                            </div>
                            <div class="col-2">
                                <img *ngIf="imgCountry" [src]="imgCountry" class="avatar" />
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Ciudad</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" formControlName="emp_ciudad"></div>
                        </div>


                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Vision</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" formControlName="emp_vision"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Misión</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" formControlName="emp_mision"></textarea>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="imagenprincipal">Imagen Principal</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" (change)="agregarArchivo($event,1)" name="emp_foto1" aria-describedby="inputGroupFileAddon01" />
                                <label class="custom-file-label" for="inputGroupFile01">Agregue una imagen</label>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="imagendos">Imagen (opcional)</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" (change)="agregarArchivo($event,2)" name="emp_foto2" aria-describedby="inputGroupFileAddon01" />
                                <label class="custom-file-label" for="inputGroupFile01">Agregue una imagen</label>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="imagentres">Imagen (opcional)</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" (change)="agregarArchivo($event,3)" name="emp_foto3" aria-describedby="inputGroupFileAddon01" />
                                <label class="custom-file-label" for="inputGroupFile01">Agregue una imagen</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Estado</label>
                            <select type="email" class="form-control" formControlName="emp_estado">
                                <option value="1" selected="selected">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                        <div class="fa-3x text-center" *ngIf="flagSave">
                            <i class="fas fa-spinner fa-pulse"></i>
                        </div>
                        <button type="submit" *ngIf="frmCli.valid && !flagSave" class="btn btn-danger btn-block">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>