

<hr class="border w-100">
<div class="row row-cols-2 row-cols-md-4">
    <div *ngFor="let usu of usuarios" class="col mb-2">
        <div class="card rounded border-success text-center h-100">
            <div class="card-body p-1">
                <button type="button" routerLink="/aliados/FanPag/{{usu.usu_id}}"
                    class="btn btn-success btn-block">Entrar a
                    clase</button>

                <hr class="m-1">
                <h5 class="card-title d-inline">{{ usu.usu_nombres}} {{ usu.usu_apellidos }}</h5>
                <p class="limit_text text-dark p-1"> {{ usu.usu_descrip_profesional.slice(0, 90)}}</p>
            </div>

        </div>

    </div>
</div>
