body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .container {
    margin-top: 50px;
    background-image: url('../../../assets/img/fondorojoT.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  

  
  .profile-data {
   
    padding: 6%;
    margin-top: 20px;
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Asegura que el contenedor ocupe todo el espacio disponible verticalmente */
  }
  
  
  .profile-pic {
    max-width: 300px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    color: #0d178e;
    font-size: 36px;
    margin-top: 20px;
  }
  
  p {
    font-size: 20px;
    color: #333;
  }

  .name{
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    color: #f17420;
    border: 2px solid white;
    padding: 40px;
  }

  .descrip {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  .descrip p {
    font-family: 'TuFuente', Arial, sans-serif;
    font-size: 17px;
    font-weight: 200;
    line-height: 1.5;
    color: white;
    text-align: left;
}

/* Estilos para el ícono de Facebook */
i.fab.fa-facebook {
  font-size: 36px; /* Tamaño deseado, puedes ajustarlo */
  /* Otros estilos adicionales si los deseas */
}

/* Estilos para el ícono de Facebook */
i.fab.fa-instagram {
  font-size: 36px; /* Tamaño deseado, puedes ajustarlo */
  /* Otros estilos adicionales si los deseas */
}
  

/* Estilos para el ícono de Facebook */
i.fab.fa-whatsapp {
  font-size: 36px; /* Tamaño deseado, puedes ajustarlo */
  /* Otros estilos adicionales si los deseas */
}

.slicr{
  margin-left: 100px;
}


.car_cur{
  max-width: 100px;
  max-height: 100px;
}

#cursolist p{
  font-family: 'TuFuente', Arial, sans-serif;
  font-size: 17px;
  font-weight: 200;
  line-height: 1.5;
  color: white;
  text-align: left;
}

#superior{
  margin-top: 50px;
}





  
  